{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form id="post_city" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="somecity">
            <br>{{ form }}<br>
        </div>
        {% endfor %}
        <br>
        <button type="submit" form="post_city">Post data</button>
        <input type="button" id="add" value="Add new input">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'city_collector/js/formaction.js' %}"></script>
    <script>
        $('#add').click(function() {
            cloneForm('.somecity:last', 'form');
        });
    </script>
</body>
</html>